*:focus,
a:focus,
button:focus {
  outline: none;
}
body {
  color: #282832;
  font-family: 'Lato', sans-serif;
  font-size: 15.2px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
-webkit-font-smoothing antialiased,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.display-4 {
  font-size: 2.5rem;
}
a {
  color: #fbcf65;
}
a:hover,
a:active,
a:focus {
  color: #282832;
}
.bg-navbar {
  background-color: #282832;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link:focus {
  color: #fff;
}
.__Header {
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #f3f3f4), color-stop(50%, #fff));
  background: -o-linear-gradient(left top, #f3f3f4 50%, #fff 50%);
  background: linear-gradient(to right bottom, #f3f3f4 50%, #fff 50%);
  border-radius: 0rem;
  color: #282832;
}
.__Header h1 {
  font-weight: 700;
}
.__btnHeader {
  background-color: #fbcf65;
  border-color: #fbcf65;
  color: #282832;
  font-weight: 700;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.__btnHeader:active {
  background-color: #fbcf66;
  border-color: #fbcf66;
  color: #282832;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.__btnHeader:focus {
  background-color: #fbcf66;
  border-color: #fbcf66;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #282832;
}
.__btnHeader:hover {
  background-color: #fbcf66;
  border-color: #fbcf66;
  -webkit-box-shadow: 0 2px 13px 0 #fbcf66;
          box-shadow: 0 2px 13px 0 #fbcf66;
  color: #282832;
}
.__Avatar {
  border-radius: 50%;
  height: 120px;
  width: auto;
}
.__Social i {
  font-size: 1.8rem;
}
