*:focus,
a:focus,
button:focus {
  outline: none;
}
body {
  background-color: #111;
  color: #282832;
  font-family: 'Lato', sans-serif;
  font-size: 15.2px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
-webkit-font-smoothing antialiased,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.display-4 {
  font-size: 2.5rem;
}
.lead {
  font-weight: 400;
}
a {
  color: #fad42b;
}
a:hover,
a:active,
a:focus {
  color: #ffd30f;
}
.bg-navbar {
  background-color: #282832;
}
.__Header {
  background-color: #111;
  border-radius: 0rem;
  color: #fff;
}
.__Header h1 {
  font-weight: 700;
}
.__btnHeader {
  background-color: #fad42b;
  border-color: #fad42b;
  color: #282832;
  font-weight: 700;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.__btnHeader:active {
  background-color: #ffd30f;
  border-color: #ffd30f;
  color: #282832;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.__btnHeader:focus {
  background-color: #ffd30f;
  border-color: #ffd30f;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #282832;
}
.__btnHeader:hover {
  background-color: #ffd30f;
  border-color: #ffd30f;
  -webkit-box-shadow: 0 2px 13px 0 #ffd30f;
          box-shadow: 0 2px 13px 0 #ffd30f;
  color: #282832;
}
.__Avatar {
  border-radius: 50%;
}
.__Social i {
  font-size: 1.8rem;
}
