$black = #282832
$yellow = #fad42b
$yellow2 = #ffd30f

$global = 'Lato', sans-serif

*:focus, a:focus, button:focus
	outline none

body
	color $black
	font-family $global
	font-size 15.2px
	font-weight 400
	text-rendering optimizeLegibility
    -webkit-font-smoothing antialiased

h1, h2, h3, h4, h5, h6
	font-family $global
	font-weight 700

.lead
	font-weight 400

a
	color $yellow

a:hover, a:active, a:focus
	color $yellow2

//Header
.__Header
	background-color white
	border-radius 0rem
	color $black
	height 100%
	& h1
		font-weight 700

.__btnHeader
	background-color $yellow
	border-color $yellow
	color $black
	font-weight 700
	transition .2s
	&:active
		background-color $yellow2
		border-color $yellow2
		color $black
		transform scale(.9)
	&:focus
		background-color $yellow2
		border-color $yellow2
		box-shadow none
		color $black
	&:hover
		background-color $yellow2
		border-color $yellow2
		color $black

.__Avatar
	border-radius 50%

.__Social i
	color $black
	font-size 1.8rem
	&:active
		color $yellow
	&:focus
		color $yellow
	&:hover
		color $yellow