$blue1 = #3f69ff
$blue2 = #4e78ff
$black = #282832
$yellow = #fbcf65
$yellow2 = #fbcf66

$global = 'Lato', sans-serif

*:focus, a:focus, button:focus
	outline none

body
	color $black
	font-family $global
	font-size 16px
	font-weight 400
	text-rendering optimizeLegibility
    -webkit-font-smoothing antialiased

h1, h2, h3, h4, h5, h6
	font-family $global
	font-weight 700

.display-4
	font-size 2.5rem

a
	color $yellow

a:hover, a:active, a:focus
	color $black

//Navbar
.bg-navbar
	background-color $black

.navbar-dark .navbar-nav .nav-link
	color white

.navbar-dark .navbar-nav .nav-link:hover
	color white

.navbar-dark .navbar-nav .nav-link:focus
	color white

//Header
.__Header
	background linear-gradient(to right bottom,#f3f3f4 50%,#fff 50%)
	border-radius 0rem
	color black

.__btnHeader
	background-color $yellow
	border-color $yellow
	color $black
	font-weight 600
	transition .2s
	&:active
		background-color $yellow2
		border-color $yellow2
		color $black
		transform scale(.9)
	&:focus
		background-color $yellow2
		border-color $yellow2
		color $black
	&:hover
		background-color $yellow2
		border-color $yellow2
		box-shadow 0 2px 13px 0 $yellow2
		color $black

.__Avatar
	border-radius 50%
	height 120px
	width auto

.__Social i
	font-size 1.8rem